CountriesServiceGR/xsd/CountryCallingCode.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wso2.qualogy.com/country/callingcode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="countryCallingCodeRequest" type="callcode:countryCallingCodeType" xmlns:callcode="http://wso2.qualogy.com/country/callingcode"/>
	<xs:complexType name="countryCallingCodeType">
		<xs:sequence>
			<xs:element name="callingcode" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>